<div class="mt-4">
    <div class="row">
        {{#each courses}}
        <div class="col-sm-4 col-sm-4 mt-4">
            <div class="card cash-coursse-item bg-card" style="width: 18rem;">
                <a href="/courses/{{this.slug}}">
                <div class="card-img-container">
                    <img src="{{this.image}}" class="card-img-top" alt="..."></a>
                </div>
                
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                    <h5 class="card-title ">{{this.name}}</h5></a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Học ngay</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>